@import "tailwindcss";

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}



/* // */

.label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.input {
  @apply w-full px-4 py-3 border-2 border-gray-300 rounded-xl bg-white outline-none transition;
}

.input:focus {
  @apply border-green-500 ring-2 ring-green-100;
}